/* stylesheet */

html{
    scroll-behavior: smooth;
}

.title{
    text-align: center;
    color: rgb(194, 144, 241);
    background-color: rgb(82, 30, 87);
    padding: 20px;
}

.form {
    margin: auto;
    max-width: 80%;
    text-align: center;
    margin-top: 20px;
}

input[type='submit'], button, [aria-label]{
    cursor: pointer;
}

#edit-box{
    display: none;
}